.home-about-container {
  padding: 3em 3.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.home-about-heading {
  margin: 2em 0;
}

.home-about-heading h1 {
  letter-spacing: 0.125em;
  font-size: 2.3em;
  font-weight: 700;
  color: #169ea0;
}

.home-about-heading h2 {
  font-size: 1.25em;
  color: #666;
}

.home-about-content {
  text-align: left;
}

.home-about-animate-object {
  position: absolute;
  z-index: 1;
  right: 32.5%;
  transform: translateY(-5%);
  width: 90%;
  max-width: 1365px;
  max-height: 670px;
}

@media (max-width: 1024px) {
  .home-about-animate-object {
    right: 0;
    position: relative;
    padding-top: 2em;
  }
}

.home-about-section-content {
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;

  position: relative;
  z-index: 2;
  flex: 0 0 55%;
  padding-left: 45%;
}

@media (max-width: 1024px) {
  .home-about-section-content {
    padding: 0;
  }
}

/* Text styling */
.home-about-section-content h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.home-about-section-content p {
  font-size: 0.95em;
  line-height: 1.6;
  color: #333;
}


@media (max-width: 565px) {

  .home-about-heading h1 {
    font-size: 2em;
  }

  .home-about-heading h2 {
    font-size: 1em;
  }

  .home-about-section-content h3 {
    font-size: 1.25em;
  }

  .home-about-section-content p {
    font-size: 0.9em;
  }
}

@media (max-width: 504px) {
  .home-about-heading h1 {
    font-size: 1.75em;
  }

  .home-about-heading h2 {
    font-size: 0.75em;
  }

  .home-about-section-content h3 {
    font-size: 1em;
  }

  .home-about-section-content p {
    font-size: 0.7em;
  }
}

@media (max-width: 453px) {
  .home-about-heading h1 {
    font-size: 1.5em;
  }

  .home-about-heading h2 {
    font-size: 0.6em;
  }

  .home-about-section-content h3 {
    font-size: 0.9em;
  }

  .home-about-section-content p {
    font-size: 0.65em;
  }
}

@media (max-width: 403px) {
  .home-about-heading h1 {
    font-size: 1.25em;
  }

  .home-about-heading h2 {
    font-size: 0.5em;
  }

  .home-about-section-content h3 {
    font-size: 0.8em;
  }

  .home-about-section-content p {
    font-size: 0.6em;
  }
}

@media (max-width: 352px) {
  .home-about-heading h1 {
    font-size: 1em;
  }

}

@media (max-width: 302px) {
  .home-about-heading h1 {
    font-size: 0.9em;
  }

  .home-about-section-content h3 {
    font-size: 0.75em;
  }

}

@media (max-width: 282px) {
  .home-about-heading h1 {
    font-size: 0.75em;
  }

  .home-about-section-content h3 {
    font-size: 0.7em;
  }

}

@media (max-width: 251px) {
  .home-about-heading h1 {
    font-size: 0.7em;
  }

  .home-about-section-content h3 {
    font-size: 0.65em;
  }

}

