
.accordion {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion-item {
  margin-bottom: 2em;
}

@media (max-width: 425px) {
  .accordion-item  {
    margin-bottom: 1.25em;
  }
}

@media (max-width: 320px) {
  .accordion-item  {
    margin-bottom: 1em;
  }
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.accordion-title.accordion-active {
  border-radius: 0.5em 0.5em 0 0;
}

.accordion-title span {
  font-size: 1em;
  font-weight: 600;
}

@media (max-width: 425px) {
  .accordion-title span {
    font-size: 0.9em;
  }
}

.accordion-icon {
  font-size: 1em;
}

@media (max-width: 425px) {
  .accordion-icon {
    font-size: 0.9em;
  }
}

.accordion-content {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);

  font-size: 1em;
  border-radius: 0 0 0.5em 0.5em;
}

.accordion-content p {
  margin: 0;
  color: #335e5f;
  color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 425px) {
  .accordion-content p {
    font-size: 0.9em;
  }
}
