/* Home Contact Section */
.home-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.25em 3.125em;
  gap: 3em;
  background-color: #F1F1F1;
}

.home-contact-container>div {
  flex: 1;
}

.home-contact-section-one h1 {
  letter-spacing: 0.025em;
  font-size: 2.3em;
  font-weight: 700;
  color: #169ea0;
  text-align: left;
}

.home-contact-section-one p {
  font-size: 1.15em;
  color: #666;
  margin: 1em 0 3em 0;
  text-align: left;
}

/* For smaller screens, make the sections stack vertically */
@media (max-width: 768px) {
  .home-contact-container {
    flex-direction: column;
  }
}