/* Home Contact Section */
.home-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.25em 3.125em;
  gap: 3em;
  background-color: #F1F1F1;
}

@media (max-width: 901px) {
  .home-contact-container {
    flex-direction: column;
  }

  .home-contact-container:last-child {
    align-items: center;
  }
}

@media (max-width: 425px) {
  .home-contact-container {
    padding: 2em 1.5em;
    gap: 2em;
  }
}

@media (max-width: 375px) {
  .home-contact-container {
    padding: 2em 1.25em;
  }
}

@media (max-width: 320px) {
  .home-contact-container {
    padding: 2em 1em;
  }
}

.home-contact-container>div {
  flex: 1;
}

.home-contact-section-one h1 {
  letter-spacing: 0.025em;
  font-size: 2.3em;
  font-weight: 700;
  color: #169ea0;
  text-align: left;
}

@media (max-width: 425px) {
  .home-contact-section-one h1 {
    font-size: 2em;
  }
}

@media (max-width: 375px) {
  .home-contact-section-one h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 320px) {
  .home-contact-section-one h1 {
    font-size: 1.5em;
  }
}

.home-contact-section-one p {
  font-size: 1.15em;
  color: #666;
  margin: 1em 0 3em 0;
  text-align: left;
}

@media (max-width: 425px) {
  .home-contact-section-one p {
    font-size: 1.05em;
    margin: 1em 0 2em 0;
  }
}

@media (max-width: 375px) {
  .home-contact-section-one p {
    margin: 1em 0 1.5em 0;
  }
}

@media (max-width: 320px) {
  .home-contact-section-one p {
    font-size: 1em;
    margin: 1em 0 1.5em 0;
  }
}
