.contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 6%;
  background-color: #030E22;
  background-image: url('/assets/contact-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.contact-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 2, 2, 0.8);
  z-index: 2;
}

.contact-hero-heading {
  position: relative;
  z-index: 3;
  color: #fff;
  margin: 10em 0;
}

.contact-hero-heading h1 {
  font-size: 2em;
  letter-spacing: 0.2em;
}

@media (max-width: 768px) {
  .contact-hero-heading h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 425px) {
  .contact-hero-heading h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 375px) {
  .contact-hero-heading h1 {
    font-size: 1.25em;
  }
}

@media (max-width: 320px) {
  .contact-hero-heading h1 {
    font-size: 1.05em;
  }
}

.contact-content-wrapper {
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 3em 3.125em;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 425px) {
  .contact-content-wrapper {
    padding: 1.5em;
  }
}

@media (max-width: 375px) {
  .contact-content-wrapper {
    padding: 1.25em;
  }
}

@media (max-width: 320px) {
  .contact-content-wrapper {
    padding: 1em;
  }
}

.contact-content {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.25em;
}

@media (max-width: 1024px) {
  .contact-content {
    grid-template-columns: 1fr;
    gap: 4em;
  }
}

@media (max-width: 768px) {
  .contact-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
}

.contact-content-info {
  text-align: left;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.contact-content-desc p {
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 1em;
  text-align: left;
  color: #CCCCCC;
}

@media (max-width: 768px) {
  .contact-content-desc p {
    padding-bottom: 1em;
  }
}

@media (max-width: 425px) {
  .contact-content-desc p {
    font-size: 1.1em;
  }
}

@media (max-width: 375px) {
  .contact-content-desc p {
    font-size: 1.05em;
  }
}

@media (max-width: 320px) {
  .contact-content-desc p {
    font-size: 1em;
  }
}

.contact-content-communication-section {
  display: flex;
  align-items: baseline;
  gap: 2.5em;
  padding-top: 1.5em;
  border-top: 1px solid gray;
}

@media (max-width: 768px) {
  .contact-content-communication-section {
    gap: 2em;
    padding-top: 1em;
  }
}

@media (max-width: 425px) {
  .contact-content-communication-section {
    gap: 1em;
    padding-top: 0.5em;
  }
}

.contact-content-communication-section span svg {
  font-size: 1.5em;
  color: #00A3AD;
}

@media (max-width: 768px) {
  .contact-content-communication-section span svg {
    font-size: 1.3em;
  }
}

@media (max-width: 425px) {
  .contact-content-communication-section span svg {
    font-size: 1.25em;
  }
}

@media (max-width: 375px) {
  .contact-content-communication-section span svg {
    font-size: 1em;
  }
}

.contact-content-communication-section h2 {
  font-size: 1.75em;
  align-self: baseline;
  color: #D3D3D3;
}

@media (max-width: 768px) {
  .contact-content-communication-section h2 {
    font-size: 1.65em;
  }
}

@media (max-width: 425px) {
  .contact-content-communication-section h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 375px) {
  .contact-content-communication-section h2 {
    font-size: 1.25em;
  }
}

.contact-content-communication-section p {
  font-size: 1.05em;
  font-weight: 300;
  color: #E0E0E0;
}

@media (max-width: 425px) {
  .contact-content-communication-section p {
    font-size: 1em;
  }
}

.contact-content-communication-section h2:hover,
.contact-content-communication-section span svg:hover {
  color: #5FD1D7;
}