/* General navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(174, 196, 194, 0.1);
  padding: 1.55em 3.125em;
  z-index: 900;
  background-image: url('nav-background.jpeg');
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: transparent;
}

@media screen and (min-width: 973px) {
  .navbar {
    align-items: flex-end;
  }
}

.navbar-logo {
  text-decoration: none;
  padding: 0.75em 0.125em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-logo h1 {
  font-size: 2.25em;
  /* 1.75em */
  font-weight: 900;
  /* 500 */
  letter-spacing: 0.125em;
  /* background: linear-gradient(45deg,
      #229799, #229799, #0C4D4E, #0C4D4E, #7B9386, #7B9386, #3D4A43, #3D4A43, #229799, #229799); */
  /* background-size: 400%; */
  /* background-color: #229799; */
  /* background: linear-gradient(45deg, #229799, #7B9386); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  /* 18s */
  /* animation: gradientWave 36s ease-in-out infinite;  */
}

.navbar-logo i {
  font-family: "Moon Dance", cursive;
  font-size: 1.25em;
  font-weight: 600;
  color: #7B9386;
}

@media (max-width: 972px) {
  .navbar-logo i {
    display: none;
  }
}

.navbar-logo h1,
.navbar-logo i {
  /* background: linear-gradient(45deg,
      #229799, #229799, #0C4D4E, #0C4D4E, #7B9386, #7B9386, #3D4A43, #3D4A43, #229799, #229799); */
  background: linear-gradient(45deg,
      #229799, #229799, #0C4D4E, #0C4D4E, #229799, #229799);
  /* background: linear-gradient(45deg,
      #169ea0, #1cc8ca, #22f2f5, #042020, #0a4a4b, #107475); */
  background: #229799;
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: gradientWave 60s ease-in-out infinite;
}

/* Keyframes to create a continuous wave effect */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 200% 50%;
    /* Moves through the gradient */
  }

  100% {
    background-position: 0% 50%;
    /* Resets to create the loop */
  }
}

@media (max-width: 542px) {
  .navbar-logo h1 {
    font-size: 2.15em;
  }
}

@media (max-width: 525px) {
  .navbar-logo h1 {
    font-size: 2.05em;
  }
}

@media (max-width: 499px) {
  .navbar-logo h1 {
    font-size: 1.95em;
  }
}

@media (max-width: 485px) {
  .navbar-logo h1 {
    font-size: 1.85em;
  }
}

@media (max-width: 465px) {
  .navbar-logo h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 449px) {
  .navbar-logo h1 {
    font-size: 1.65em;
  }
}

@media (max-width: 425px) {
  .navbar-logo h1 {
    font-size: 1.55em;
  }
}

@media (max-width: 400px) {
  .navbar-logo h1 {
    font-size: 1.45em;
  }
}

@media (max-width: 385px) {
  .navbar-logo h1 {
    font-size: 1.35em;
  }
}

@media (max-width: 370px) {
  .navbar-logo h1 {
    font-size: 1.25em;
  }
}

@media (max-width: 355px) {
  .navbar-logo h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 345px) {
  .navbar-logo h1 {
    font-size: 1.15em;
  }
}

@media (max-width: 335px) {
  .navbar-logo h1 {
    font-size: 1.1em;
  }
}

@media (max-width: 325px) {
  .navbar-logo h1 {
    font-size: 1.05em;
  }
}

@media (max-width: 320px) {
  .navbar-logo h1 {
    font-size: 1em;
  }
}

@media (max-width: 310px) {
  .navbar-logo h1 {
    font-size: 0.9em;
  }
}

@media (max-width: 295px) {
  .navbar-logo h1 {
    font-size: 0.8em;
  }
}

@media (max-width: 275px) {
  .navbar-logo h1 {
    font-size: 0.7em;
  }
}

@media (max-width: 255px) {
  .navbar-logo h1 {
    font-size: 0.6em;
  }
}

@media (max-width: 245px) {
  .navbar-logo h1 {
    font-size: 0.5em;
  }
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

/* 868px */
@media (max-width: 972px) {
  .navbar-menu {
    display: none;
  }

  .navbar.active .navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(0, 77, 77, 1);
  }
}

.navbar-menu-item {
  padding: 1.5em 0.7em;
  padding: 1em 0.7em;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in, font-weight 0.2s ease;
  cursor: pointer;
  color: #f5f5f5;
  /* position: relative; */
}

.active {
  color: #f5f5f5;
  font-weight: 500;
}

/* add .active of NavLink to style active menu item */
.navbar-menu-item:hover,
.navbar-menu-item:focus,
.navbar-menu-item.dropdown-active {
  color: #169ea0;
  /* rgba(22, 158, 160, 1) */
  font-weight: 700;
}

/* 868px */
@media (max-width: 972px) {
  .navbar-menu-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
  }

  .navbar.active .navbar-menu-item {
    text-align: center;
    width: 100%;
    color: #f5f5f5;
    background-color: rgba(0, 51, 51, 0.7);
  }

  .navbar.active .navbar-menu-item:hover,
  .navbar.active .navbar-menu-item:focus {
    background-color: rgba(22, 158, 160, 0.3);
    font-weight: 700;
    color: #f5f5f5;
  }

  .navbar.active .navbar-menu-item.active {
    background-color: rgba(22, 158, 160, 0.1);
  }

  .navbar-menu-item svg {
    position: static;
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: baseline;
}

/* 868px */
@media (max-width: 972px) {
  .dropdown {
    flex-direction: column;
    align-items: stretch;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(174, 196, 194, 0.3);
  background-color: black;
  background-color: #000202;
  background-color: rgba(0, 2, 2, 0.975);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: left;

  /* check again */
  /* display: flex; */
  flex-direction: column;
  padding: 0.5em 0;
  min-width: 150px;
  z-index: 999;
  opacity: 1;

  /* check again */
  /* visibility: visible;  */
  border-radius: 0.5em;
}

/* 868px */
@media (max-width: 972px) {
  .dropdown-menu {
    display: none;
    border-radius: 0;
  }
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* 868px */
@media (max-width: 972px) {
  .dropdown:hover .dropdown-menu {
    display: none;
  }
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -20px;
  /* Position it just above the dropdown */
  left: 10px;
  /* Adjust the position as needed */
  border-width: 10px;
  border-style: solid;
  /* border-color: transparent transparent rgba(174, 196, 194, 0.3) transparent; */
  border-color: transparent transparent black transparent;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

/* 868px */
@media (max-width: 972px) {
  .dropdown-menu::before {
    display: none;
  }
}

.dropdown.dropdown-active .dropdown-menu {
  display: flex;
}

/* 868px */
@media (max-width: 972px) {

  .dropdown.dropdown-active .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: static;
    /* left: 20%; */
    opacity: 1;
    /* background-color: rgba(0, 77, 77, 1); */
    background-color: rgba(0, 51, 51, 0.45);
    border-radius: 0 0 1.5em 1.5em;
    /* padding: 0.5em 2em; */
    /* align-items: center; */
  }

  .dropdown.dropdown-active .navbar-menu-item {
    background-color: rgba(0, 51, 51, 0.9);
    border-radius: 1.5em 1.5em 0 0;
  }
}

.dropdown-item {
  padding: 0.5em 1.5em;
  text-decoration: none;
  /* text-align: left; */
  color: #f2f2f2;
  white-space: nowrap;
  font-weight: 500;
  /* width: 100%; */
}

.dropdown-item:hover {
  background-color: rgba(22, 158, 160, 0.3);
  color: #f5f5f5;
  font-weight: 700;
  /* border-radius: 1em */
}

@media (max-width: 972px) {
  .dropdown-item {
    text-align: center;
  }
}

.hamburger {
  display: none;
}

/* 868px */
@media (max-width: 972px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

/* Hamburger menu animations */
.hamburger div {
  width: 1.625em;
  height: 0.1625em;
  background-color: #94aca4;
  margin: 0.375em 0;
  transition: 0.4s;
}

.hamburger.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}