/* Container styling */
.home-features-container {
  text-align: center;
  /* padding: 2em 3em; */
  padding: 3.25em 3.125em;
  background-color: #aec4c2;
}

@media (max-width: 1024px) {
  .home-features-container {
    background-image: url('home-features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.heading-section h1 {
  letter-spacing: 0.025em;
  font-size: 2.3em;
  font-weight: 700;
  /* color: #0e8284; Tweaked color for better contrast */
  color: #169ea0;
  /* margin-bottom: 0.5em; */
}

.heading-section p {
  font-size: 1.15em;
  color: #666; /* Darker color for better readability */
  /* margin-bottom: 2em; */
  margin: 1em 0 3em 0;
}

/* Features section layout */
.features-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Feature cards grid */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  flex: 1;
  max-width: 60%;
}

.feature-card {
  background-color: #f5f5f5;
  padding: 1.5em;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* height: 250px; */
  text-align: left;
}

.feature-card h2 {
  font-size: 1.5em;
  /* color: #333; */
  color: #405957;
  margin-bottom: 0.5em;
}

@media (max-width: 1248px) {
  .feature-card h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 1183px) {
  .feature-card h2 {
    font-size: 1.3em;
  }
}

@media (max-width: 1118px) {
  .feature-card h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 1053px) {
  .feature-card h2 {
    font-size: 1.1em;
  }
}

@media (max-width: 362px) {
  .feature-card h2 {
    font-size: 0.85em;
  }
}

.feature-card p {
  font-size: 1em;
  /* color: #666; */
  color: #7d8a89;
  text-align: left;
}

@media (max-width: 362px) {
  .feature-card p {
    font-size: 0.7em;
  }
}

/* Image section */
.features-image {
  flex: 0 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.features-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }

  .cards-grid {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .features-image {
    display: none;
  }

}
