
.home-features-container {
  text-align: center;
  padding: 3.25em 3.125em;
  background-color: #000202;
}

@media (max-width: 425px) {
  .home-features-container {
    padding: 2em 1.5em;
  }
}

@media (max-width: 375px) {
  .home-features-container {
    padding: 2em 1.25em;
  }
}

@media (max-width: 320px) {
  .home-features-container {
    padding: 2em 1em;
  }
}

.heading-section h1 {
  letter-spacing: 0.025em;
  font-size: 2.3em;
  font-weight: 700;
  color: #169ea0;
}

@media (max-width: 425px) {
  .heading-section h1 {
    font-size: 2em;
  }
}

@media (max-width: 375px) {
  .heading-section h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 320px) {
  .heading-section h1 {
    font-size: 1.5em;
  }
}

.heading-section p {
  font-size: 1.15em;
  color: #e7ecec;
  margin: 1.25em 0 3em 0;
}

@media (max-width: 425px) {
  .heading-section p {
    margin: 1.25em 0;
    font-size: 1.1em;
  }
}

@media (max-width: 375px) {
  .heading-section p {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  .heading-section p {
    margin: 1em 0;
  }
}

.features-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  flex: 1;
  max-width: 60%;
}

.feature-card {
  padding: 1.5em;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 425px) {
  .feature-card {
    padding: 1.35em;
  }
}

@media (max-width: 375px) {
  .feature-card {
    padding: 1.25em;
  }
}

@media (max-width: 320px) {
  .feature-card {
    padding: 1.15em;
  }
}

.feature-card h2 {
  font-weight: 500;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #0d1313;
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  .feature-card h2 {
    font-size: 1.3em
  }
}

@media (max-width: 425px) {
  .feature-card h2 {
    font-size: 1.15em
  }
}

@media (max-width: 320px) {
  .feature-card h2 {
    font-size: 1.1em
  }
}

.feature-card p {
  font-size: 1em;
  color: #262c2b;
  text-align: left;
}

@media (max-width: 425px) {
  .feature-card p {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }

  .cards-grid {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

}

.features-video {
  flex: 0 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
}

.features-video video {
  width: 100%;
  height: 540px;
  object-fit: cover;
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.1); */
  filter: brightness(0.6);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }

  .cards-grid {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .features-video {
    display: none;
  }
}