.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #030e22;
  background-color: #000202;
  /* Fallback background color */
  background-image: url('/assets/home-hero-2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  animation: movePattern 15s infinite;
}

/* Keyframes for more complex movement (back and forth) */
@keyframes movePattern {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 50% 25%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 75%;
  }

  100% {
    background-position: 0 100%;
  }
}


.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.hero-text {
  position: relative;
  z-index: 3;
  color: #fff;
  /* text-align: center; */
  text-align: left;
  top: 25%;
  /* left: 1%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  padding: 0 1.25em;
  margin: 1.25em 0;
  font-size: 2.75em;
  font-size: 3em;
  font-weight: 600;
  /* margin-bottom: 0.5em; */
}

.hero-text h1 {
  font-size: inherit;
  font-weight: inherit;
}

.hero-text span {
  font-size: inherit;
  font-weight: inherit;
  transition: all 0.2s ease;

  background-color: #333;
  /* padding: 0 15px 3px; */
  border-radius: 6px;
  font-weight: 600;
}


@media (max-width: 1024px) {
  .hero-text {
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 2.25em;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 2em;
  }
}

@media (max-width: 405px) {
  .hero-text {
    font-size: 1.85em;
  }
}

@media (max-width: 320px) {
  .hero-text {
    font-size: 1.5em;
  }
}